{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>


    {% include 'accounts/Header.html' %}

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    {% include 'accounts/MenuBegin.html' %}
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    {% include 'accounts/HeaderSectionBegin.html' %}
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    {% include 'accounts/HeroSectionBegin.html' %}
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    {% include 'accounts/BannerSectionBegin.html' %}
    <!-- Banner Section End -->

    <!-- Product Section Begin -->
    {% include 'accounts/ProductSectionBegin.html' %}
    <!-- Product Section End -->

    <!-- Categories Section Begin -->
    {% include 'accounts/CategoriesSectionBegin.html' %}
    <!-- Categories Section End -->

    <!-- Instagram Section Begin -->

    {% include 'accounts/InstagramSectionBegin.html' %}
    <!-- Instagram Section End -->

    <!-- Latest Blog Section Begin -->
    {% include 'accounts/BlogSectionBegin.html' %}
    <!-- Latest Blog Section End -->

    <!-- Footer Section Begin -->
    {% include 'accounts/FooterSectionBegin.html' %}
    <!-- Footer Section End -->

    <!-- Search Begin -->
    {% include 'accounts/SearchBegin.html' %}
    <!-- Search End -->

    <!-- Js Plugins -->
    {% include 'accounts/JsPlugins.html' %}
</body>

</html>